{% extends 'base.html.twig' %}

{% block title %}
	Zikly
{% endblock %}


{% block body %}

	<div class=" Coo card bg-dark text-white ">
		<img src="\image\aliane-schwartzhaupt-QdmUva6qBTk-unsplash.jpg" class="img-fluid" alt="batteur">
		<div class="card-img-overlay">
			<h1 class=" card-title text-center">welcome</h1>
			<p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reiciendis odio necessitatibus! Culpa esse omnis ratione dolores minima at architecto dolorem?.</p>
			<p class="card-text ">Sit amet consectetur adipisicing elit</p>
		</div>

	</div>


	<div class="titre container ">
		<div class=" in p-5 ">
			<h1 class="fs-1">Le talent - Le sérieux et La qualité</h1>
		</div>
		<p>
			Zik-Lab</p>
	</div>
	<div class=" third container  ">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3 mt-5 ">
			<div class="col ">
				<div class="card mb-2 ">
					<img src="\image\uploads\images-jpg3-jpg-paint161c0ae61b4a6e.jpg" class="card-img-top  " alt="portrait">
					<div class="card-body  bg-dark ">
						<h2>Yann TABAUT</h2>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing  obcaecati esse porro impedit rerum? Libero, fugiat!</p>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-2">
					<img src="\image\uploads\fille-note-vecteur-23-214748725161be27d352e32.jpg" class="card-img-top" alt="fille et notes">
					<div class="card-body bg-dark ">
						<p>Premier album</p>
						<p class="card-text">Some quick example text to build on the card title .</p>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-3">
					<img src="\image\uploads\155003-1640661bd148a707c0.jpg" class="card-img-top" alt="danseurs">
					<div class="card-body bg-dark ">
						<h2>Découverte</h2>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="art">
		<a class="btn btn-primary-large bg-warning text-dark" href="{{path ("artist")}} ">Voir nos artistes</a>
	</div>

	<div class="apa col text-center text-dark mt-5 mb-5 ml-3">
		<h3>BLOG</h3>
	</div>
	<div class=" middle container   ">
		<div class="row row-cols-sm-1 row-cols-lg-3 gy-3 gx-3 mt-5 mb-2">
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://media.istockphoto.com/photos/the-musicians-hand-is-playing-a-keyboard-picture-id1301527971?s=612x612" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card " style="width: 18rem;">
					<img src="https://media.istockphoto.com/photos/upcoming-events-text-message-bubble-concept-wooden-background-picture-id1348886734?b=1&k=20&m=1348886734&s=170667a&w=0&h=WkFmNDrYT7yo6pDSW_44Wo09YzfvLW1UDvHFJ78kPxI=" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://media.istockphoto.com/photos/the-musicians-were-playing-rock-music-on-stage-there-was-an-audience-picture-id1319479588?b=1&k=20&m=1319479588&s=170667a&w=0&h=bunblYyTDA_vnXu-nY4x4oa7ke6aiiZKntZ5mfr-4aM=" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container d-flex">	
		<div class="row">
			<div class="col md-4">
				<img src="https://media.istockphoto.com/photos/black-female-singer-singing-into-microphone-in-recording-studio-picture-id1284317705?b=1&k=20&m=1284317705&s=170667a&w=0&h=F7UoOb_dF4Jmsx2eYkWuehZn_EHvF6iYZtS260Cxn_o=" class="card-img-top" alt="...">
				<div class=" bg-dark">
					<p class="card-text">Some quick example text to build on 
					the card title and make up the bulk of the card's content.
					the card title and make up the bulk
					make up the bulk of the card's content...
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
