{% extends 'base.html.twig' %}

{% block title %}
	Zikly
{% endblock %}


{% block body %}

	<div class=" Coo card bg-dark text-white ">
		<img src="\image\aliane-schwartzhaupt-QdmUva6qBTk-unsplash.jpg" class="img-fluid" alt="batteur">
		<div class="card-img-overlay">
			<h1 class=" card-title text-center">welcome</h1>
			<p class="card-text mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Qui reiciendis odio necessitatibus!</p>
			<p class="card-text ">Sit amet consectetur adipisicing elit</p>
		</div>
	</div>


	<div class="titre container">
		<div class=" in p-3 shadow p-3 mt-5 mb-5 bg-transparent bg-body rounded">
			<h1 class=" text-center">Le talent - Le sérieux -La qualité</h1>
		</div>
		<p class="lab ">Zik-Lab</p>
	</div>
	<div class=" third container  ">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-3 mt-5 ">
			<div class="col ">
				<div class="card mb-2">
					<img src="\image\uploads\images61db717007039.jpg" class="card-img-top  " alt="portrait">
					<div class="card-body  bg-dark p-5 ">
						<h2>Yann TABAUT</h2>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
						</p>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-2">
					<img src="\image\uploads\fille-note-vecteur-23-214748725161be27d352e32.jpg" class="card-img-top" alt="fille et notes">
					<div class="card-body bg-dark p-4">
						<h2>Premier album</h2>
						<p class="card-text">Some quick example text to build on the card title and make up  the bulk of the card's content.</p>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-3">
					<img src="\image\uploads\155003-1640661bd148a707c0.jpg" class="card-img-top" alt="danseurs">
					<div class="card-body bg-dark p-5 ">
						<h2>Découverte</h2>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="art bg-transparent">
		<a class="btn btn-primary-large  border border-secondary text-light" href="{{path ("artist")}} ">Voir nos artistes</a>
	</div>
	<div class="container">
		<div class="apa col me-auto text-left text-dark mt-4 mb-5 ml-3 fw-bold">
			<h3>ZIK NEWS</h3>
		</div>
	</div>
	<div class=" middle container">
		<div class="row row-cols-sm-1 row-cols-lg-3 gy-3 gx-3 mt-5 mb-2">
			<div class="col-md-4">
				<div class="card">
					<img src="https://media.istockphoto.com/photos/the-musicians-hand-is-playing-a-keyboard-picture-id1301527971?s=612x612" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sint sit laudantium nam? Aspernatur beatae iusto mollitia? Vitae quisquam, natus eaque saepe illum architecto excepturi eligendi consequuntur.</p>
					</div>
				</div>
			</div>
			<div class="col-col-md-4">
				<div class="card">
					<img src="https://media.istockphoto.com/photos/upcoming-events-text-message-bubble-concept-wooden-background-picture-id1348886734?b=1&k=20&m=1348886734&s=170667a&w=0&h=WkFmNDrYT7yo6pDSW_44Wo09YzfvLW1UDvHFJ78kPxI=" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sint sit laudantium nam? Aspernatur beatae iusto mollitia? Vitae quisquam, natus eaque saepe illum architecto excepturi eligendi consequuntur.</p>
					</div>
				</div>
			</div>
			<div class="col-col-md-4">
				<div class="card">
					<img src="https://media.istockphoto.com/photos/the-musicians-were-playing-rock-music-on-stage-there-was-an-audience-picture-id1319479588?b=1&k=20&m=1319479588&s=170667a&w=0&h=bunblYyTDA_vnXu-nY4x4oa7ke6aiiZKntZ5mfr-4aM=" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sint sit laudantium nam? Aspernatur beatae iusto mollitia? Vitae quisquam, natus eaque saepe illum architecto excepturi eligendi consequuntur.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container ">
			<div class="row">
				<div class="col md-4 mb-3">
					<img src="https://media.istockphoto.com/photos/black-female-singer-singing-into-microphone-in-recording-studio-picture-id1284317705?b=1&k=20&m=1284317705&s=170667a&w=0&h=F7UoOb_dF4Jmsx2eYkWuehZn_EHvF6iYZtS260Cxn_o=" class="card-img-top" alt="...">
					<div class=" card-body bg-dark">
						<p class="card-text">Some quick example text to build on 
																																																						the card title and make up the bulk of the card's content.
																																																						the card title and make up the bulk
																																																						make up the bulk of the card's content...
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container d-flex mt-4 mb-3 bg-dark">
		<div class="row">
			<div class="col md-4">
				<div class="card-body mb-3 mt-3 ">
					<iframe width="400" height="400" src="https://www.youtube.com/embed/Rz1Xn1vzOM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col md-4">
				<div class="card-body mb-3 mt-3 ">
					<iframe width="400" height="400" src="https://www.youtube.com/embed/pU2ukeS2JTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col md-4 mb-2 mt-3 ">
				<div class="card-body">
					<h5 class="card-title">Zikstory</h5>
					<h6 class="card-subtitle mb-2 text-muted">old school souvenirs</h6>
					<p class="card-text">Some quick example text to build on the card title and
											 make up the bulk of the card's content to build on the card content the card's content to build on the card.</p>
					<a href="#" class="card-link">Card link</a>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
