{% extends 'base.html.twig' %}

{% block title %}New UserProfile{% endblock %}

{% block body %}
    <h1>Nouveau profil</h1>

    {{ include('userProfile/_form.html.twig') }}

    <a class="btn btn-primary rounded-pill"href="{{ path('userProfile_index') }}">Retour</a>
{% endblock %}
