


.top {
    padding: auto;
    background-color: black;
  
}
.navbar-toggler{
    background-color: rgb(15, 72, 97);
}


body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-color: rgb(60, 99, 131);
     
}

.Coo img{
   width:200vw;
   height: 90vh;
   object-fit:cover;
   
}


.dark{
    
    padding:13px;
    background-color: black;
}

.up{
   
    background-color: rgb(153, 178, 190); 
  
}
.up img{
     
    box-shadow: 0 0 10px;
    overflow: hidden;
}
.up img:hover{
  zoom: 60%;
}
.card{
    background-color:none;
   
}
.card-body{
    background-color: rgb(13, 13, 14);
    border-color: solid white;
 
}



.text{
    position: relative; 
    padding: 10px;
    background-color: rgb(231, 237, 240);
    color: black;
    /*transform: rotate(45deg);*/

}
.titre p{
    /*color:whitesmoke;*/
    text-align: center;
    font-size: xx-large;
    text-shadow: rgb(255, 136, 0) 1px 0 10px;
    border-color:solid-#fff;
  
}
.in h1{
    text-shadow: rgb(255, 136, 0) 1px 0 10px;
}


.middle{
    
    background-color: rgb(244, 246, 248);
    background-image: url( "https://picsum.photos/id/836/200/300.jpg " );
    background-repeat:no-repeat;
    background-size: 100%;
    
   
   
}
.middle img{
    object-fit: cover;
   
  
    
}
.apa{
    width: 50%;
    border:solid- black ;
    box-shadow: 10px 5px 5px rgba(56, 48, 48, 0.2);
    
    /*margin-right: 40%;*/
}
.apa h3{
    font-family: 'Roboto', bold;
    font-size: 60px;
    background-color:transparent;
    margin: 100px;
}

.blog h1{
    font-family:'Rampart One';
    border-radius:20px;
}

.pocus{
    background-color: rgb(235, 250, 250);
}
.tosp{
    background-color:rgb(235, 250, 250);
}


.hello img{
    height:max-content;
    object-fit:cover;
}

.third{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.art{
    padding: 20px;
    margin-bottom: 5px;
    background-color: rgb(205, 220, 224);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.art a.btn:hover{
   background-color: rgb(5, 54, 63); 
   box-shadow: 10px 5px 5px rgb(136, 168, 170);

}
                            
                /*Footer*/           
.bottom{
    background-color: black;
    padding: 50px;
    
    
}
.per p{
    text-decoration: none;

}

                /*profils*/
/**.side{
    height: 600px;     
    color: white;
    background-color: black;
    overflow: scroll;  
    
}*/

                      /*Messages*/
.offcanvas{
    background-color: whitesmoke;
}
/*.reçus{
    background-color: mediumorchid;
}*/