{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 bg-light rounded" style="height:30rem;">
		{% for flashError in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		<h1>Nouveau mot de passe</h1>

		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}

		<div>
			<div class="text-white bg-secondary mt-3 text-center pt-2 pb-2">
				<p>
					Enrez votre e-mail et vous recevrez un lien
                     pour renouveller votre mot de passe
			</div>
		</div>
		{{ form_end(requestForm) }}
		<button class="btn btn-danger mt-5 mb-4 rounded-pill">Envoyer</button>
	</div>
{% endblock %}
