{% extends 'base.html.twig' %}

{% block title %}
	Info
{% endblock %}

{% block body %}
	<div class="infos container  mt-3 mb-3">
	<div class="zik d-flex justify-content-center">
		<img src="\image\uploads\Noir-Simple-Moteurs-Automobile-Logo-new-jpg-50x40621ffb68f01ef.jpg" class="zik mt-3 mb-3 shadow-lg p-3 " alt="logo">
		</div>
		<h1 class="text-dark  mb-3 shadow-lg ms-42">A PROPOS DE ZIKLY</h1>
		    <div class="card  fw-bold ">
			<div class="card-body">			
				<h3>1.Qu’est-ce que Zikly?</h3><br>
				<h>ZIKLY a pour ambition de mettre ces adhérents dans les meilleures conditions
				pour développer leur talent et augmenter leur réseau professionnel
				L’accès sera porté sur la qualité des offres et des interlocuteurs,un espace de
				professionnels s’adressant à d’autres professionnels																				
				Nous souhaitons donner accès aux musiciens qui sont en autoproduction ou signés sur des labels indépendants de trouver des opportunités de concert et de gérer leur tournée.										
				Il y a deux facettes à notre métier, d’un côté nous permettons aux musiciens d’avoir accès à de nombreuses opportunités de concerts,
				et de l’autre nous proposons des services de booking dédiés à des artistes triés sur le volet.
				</h>
				</div>
		    </div>
			<div class="card  fw-bold ">
				<div class="card-body">
					<h4>L’industrie musicale évolue.</h4>
					<p>Ici chez zikly nous sommes convaincus que le modèle traditionnel de l’industrie musicale n’a pas fini de bouger et qu’il va même être complètement chamboulé dans les années à venir.						
				On est en train de vivre le « no label, no problem. Les outils qui vont permettre aux artistes de gérer leur futur sont en train d’émerger et nous voulons en faire partie.						
				Tous les aspects négatifs qui sont apparus au début d’internet sont désormais  résorbés par des aspects positifs. Se constituer une fanbase est devenu un jeu d’enfant,<br>
				on peut communiquer avec eux tous les jours, produire et distribuer des titres est désormais ultra accessible.						
				Le booking est en quelque sorte le dernier bastion à connaître sa transformation, mais c’est une vraie nécessité pour les artistes.</p>
				</div>
			</div>
			<div class="card fw-bold">
				<div class="card-body">
					<h3>L'AVENIR?</h3>
					<p>ZIKLY souhaite apporter à ses musiciens le meilleur service possible, mais aussi le plus complet, c’est ce qui nous anime tous les jours.  
										    il y a un véritable besoin et ce service est utile pour les artistes et  les organisateurs.					
											Il s’agit désormais de réussir le développement tout en conservant au cœur des préoccupations le service client et la proximité avec les utilisateurs.</p>

				</div>
			</div>
			<div class="d-flex justify-content-center mt-5 bg-light shadow-lg">
				<h2 class="mention mt-3 mb-3 text-center  text-dark fw-bold  ">~~ MENTIONS LEGALES ~~</h2>
			</div>							
			<div class="card mt-5 mb-2  fw-bold ">
						<div class="card-body">
							<p>Mentions légales
								En vigueur au 10/03/22
								Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la
								Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et
								visiteurs, ci-après l""Utilisateur", du site https://rogervincentluce.fr , ci-après le "Site", les présentes
								mentions légales.<br>
								La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve
								des présentes mentions légales.
								Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».<br>
								ARTICLE 1 - L'EDITEUR
								L’édition et la direction de la publication du Site est assurée par roger vincent-luce, domiciliée 9 rue de
								verdun, dont le numéro de téléphone est 0616137013, et l'adresse e-mail
								rogervincentluce@gmail.com.
								ci-après l'"Editeur".<br>
								<hr>
								ARTICLE 2 - L'HEBERGEUR
								L'hébergeur du Site est la société ovh, dont le siège social est situé à Roubaix , avec le numéro de
								téléphone : _______________ + adresse mail de contact<br>
								<hr>
								ARTICLE 3 - ACCES AU SITE
								Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption
								programmée ou non et pouvant découlant d’une nécessité de maintenance.
								En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.<br>
								<hr>
								ARTICLE 4 - COLLECTE DES DONNEES
								Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect
								de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
								et aux libertés.
								En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit
								d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur
								exerce ce droit :
								· via un formulaire de contact ;
								<br>
								<hr>
								· via son espace personnel ;
								Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site,
								sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires
								telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
								Pour plus d'informations en matière de protection des données à caractère personnel , se reporter à la
								Charte en matière de protection des données à caractère personnel du site https://rogervincentluce.fr
								accessible à la rubrique "Données personnelles"
								Rédigé sur http://legalplace.fr
							</p>
					    </div>
			</div>									
    </div>
			{% endblock %}
