{% extends 'base.html.twig' %}

{% block title %}Edit Categorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Edit Categorie</h1>

		{{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

		<a  class="btn btn-primary mt-3 mb-3" href="{{ path('categorie_index') }}">back to list</a>

		{{ include('categorie/_delete_form.html.twig') }}
	</div>
{% endblock %}
