<footer class=" bottom text-light " width="100%">
	<div class="row d-flex justify-content-between">
		<div class="col text-center ">
			<p>Copyright &copy 2021</p>
		</div>
		<div class=" per col text-center">
			<a href=""><p>Mentions légales</p></a>
		</div>
	</div>
</footer>
